*{
    
    margin: 0;
    padding: 0;
}


* {
    scroll-behavior: smooth;
}


:root {
    view-transition-name: root;
}

html {
    display: block;
}
.body{
    background-color: rgb(45, 32, 63);
}
.div_prueba{
    background-color: rgb(34, 26, 43);
    height: 5rem;
    display: block;
    border-top: 0cap;
    position: inherit;
    position: sticky;
    box-shadow: 2px 5px 20px;
    
}
.div_presentacion{
    background-color: rgb(52, 40, 66);
    padding: 2rem;
    margin-top: 3rem;   
    margin-left: 5rem ;
    margin-right: 5rem ;
    height: 5rem;
    display: block;
    border-top: 0cap;
    border-radius: 20px;
   
    box-shadow: 2px 5px 20px;
}